#portfolio7.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			i.fa.fa-times.fa-4
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 PlazaCosecha.com
						hr
						img.img-responsive.img-centered(src='img/portfolio/plazacosecha.png', alt='')
						p I didn't develop this site myself. In fact, this site uses
							a(href="http://rocket.chat" target="_blank") Rocket.Chat
							| , which is an open source version on Slack. This is an example of me focusing on the client needs, and sometimes, the answers isn't a custom made project, if there is an existing open source tool we can use.
						ul.list-inline.item-details
					
							li
								| Date:
								strong
									p July 2016
							li
								| Service:
								strong
									p Web Development
						.text-center
							button.btn.btn-default(type='button', data-dismiss='modal')
								i.fa.fa-times  Close
