#portfolio6.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			i.fa.fa-times.fa-4
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 KeepHB1403
						hr
						img.img-responsive.img-centered(src='img/portfolio/keephb1403.jpg', alt='')
						p  Custom Website to keep in-state tuition for DREAMers in Texas. I developed this website as part of an effort to keep in-state tuition for undocumented students.
						ul.list-inline.item-details
							li
								| Client:
								strong
									p
										a(href="http://latinocld.com", target="blank") Latino Center for Leadership Development
							li
								| Date:
								strong
									p November 2014
							li
								| Service:
								strong
									p Web Development
						.text-center
							button.btn.btn-default(type='button', data-dismiss='modal')
								i.fa.fa-times  Close
