#portfolio3.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			i.fa.fa-times.fa-4
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 GoBigBrother.org
						hr
						img.img-responsive.img-centered(src='img/portfolio/big-brothers-big-sisters.jpg', alt='')
						p This website was part of a team effort I led in the 2015 Phoenix Creatathon for Big Brothers Big Sisters of Arizona. Apart from managing the team, I designed and developed the website.
						ul.list-inline.item-details
							li
								| Client:
								strong
									p
										a(href="http://www.bbbsaz.org/") Big Brothers Big Sisters Arizona
							li
								| Date:
								strong
									p September 2015
							li
								| Service:
								strong
									p Web Development
						.text-center
							button.btn.btn-default(type='button', data-dismiss='modal')
								i.fa.fa-times  Close
