#portfolio5.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			i.fa.fa-times.fa-4
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 Drive For Democracy
						hr
						img.img-responsive.img-centered(src='img/portfolio/drive-for-democracy.jpg', alt='')
						p This is a microsite I built to recruit volunteers that give rides to the polls on election day.
						p 
						ul.list-inline.item-details
							li
								| Client:
								strong
									p 
										a(href="http://organizetexas.org", target="_blank") Texas Organizing Project
							li
								| Date:
								strong
									p September 2014
							li
								| Service:
								strong
									p Web Development
						.text-center
							button.btn.btn-default(type='button', data-dismiss='modal')
								i.fa.fa-times  Close
