#portfolio1.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			i.fa.fa-times.fa-4
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 Undocumoney.com
						hr
						img.img-responsive.img-centered(src='img/portfolio/undocumoney.jpg', alt='')
						p  I am particularly proud of this project. It was a pro-bono effort to help a group of fellow immigrant youth with their #undocumoney campaign.
						p NOTE: This site is no longer online.
						ul.list-inline.item-details
							li
								| Client:
								strong
									p Non Organizational
							li
								| Date:
								strong
									p September 2015
							li
								| Service:
								strong
									p Web Development
						.text-center
							button.btn.btn-default(type='button', data-dismiss='modal')
								i.fa.fa-times  Close
