#portfolio4.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			i.fa.fa-times.fa-4
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 MovimientoCosecha.com 
						hr
						img.img-responsive.img-centered(src='img/portfolio/movimientocosecha.png', alt='')
						p This is a small javascript library I wrote for a static website on 
							a(href="http://MovimientoCosecha.com") MovimientoCosecha.com.

						p
							| This is an open source library, and you can check out the code at 
							a(href="http://github.com/cosecha/Translatify.js") http://github.com/cosecha/Translatify.js
							| . 
							| While you're at it, you can see the repository for the Cosecha website at 
							a(href="http://github.com/Cosecha/cosecha.github.io") http://github.com/Cosecha/cosecha.github.io
							| .
					
							li
								| Date:
								strong
									p May 2016
							li
								| Service:
								strong
									p Web Development
						.text-center
							button.btn.btn-default(type='button', data-dismiss='modal')
								i.fa.fa-times  Close
