#portfolio2.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			i.fa.fa-times.fa-4
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 RedadasDeObama.com
						hr
						img.img-responsive.img-centered(src='img/portfolio/redadasdeobama.png', alt='')
						p This was a great project to work on, and it is my first public app using Meteor.js with React.js as the front end layer.
						p The project is still in BETA and under active development.
						
							li
								| Date:
								strong
									p June 2016
							li
								| Service:
								strong
									p Web App Development
						.text-center
							button.btn.btn-default(type='button', data-dismiss='modal')
								i.fa.fa-times  Close
