nav#site-nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
	div.container
		div.navbar-header
			button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand.nav-link(href="#")
				span(class="glyphicon glyphicon-globe")
				|  Purple Rose Translations
				//- img(src="/img/logo.png", alt="Purple Rose Translations")
		div.collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
			ul.nav.navbar-nav.navbar-right
				li
					a.nav-link(href="#testimonials") Testimonials
				li
					a.nav-link(href="#about") About Us
				li
					a.nav-link(href="#quotes") Quotes
				li
					a.nav-link(href="#contact") Contact


header
	.header-container
		.header-content
			h1 The difference between:
			.container
				.row
					.col-md-5
						h3 Some Wrong text here
					.col-md-2
						h6 and
					.col-md-5
						h3 Some better text here
			h1 Supporting communication between two worlds

section#about
	.container
		.row
			.col-md-12
				h1 About
		.row
			.col-md-6
				p At Purple Rose Services we offer accurate and culturally relevant translations and interpretation services. We make sure we transmit your message into the requested language, English or Spanish, while maintaining context, voice, and style. We follow ethical codes that protect the confidentiality of you and your clients or members’ information.
				p Whether you want to make sure your organization’s promotional or internal materials are accessible to everyone you serve, or you want to reach a new audience, we are here to help. 
				p Contact us for a free quote of any of the services below!
			.col-md-6
				img.img-responsive(src="http://lorempixel.com/500/250/people")


section#quotes
	.container
		.row
			.col-md-12
				h1 Quotes
		.row
			.col-md-4
				h3 Translations
				p We quote document translations per source word.  The exact price per source word depends on the type of document, the length of the document, and the turn-around time.
				p Some examples of documents we translate include:
				ul
					li Advertising and Promotional materials
					li Press Releases and Media Advisories
					li Interview Transcripts and Releases
					li Legal forms and contracts
					li Personal or Formal correspondence
			.col-md-4
				h3 Interpretation
				p Simultaneous or Consecutive Interpretation is quoted per hour.
				p Simultaneous interpretation is when the message is interpreted at the same time as it is stated by the sender with the aid of interpretation equipment or close to the receiver.
				p Consecutive interpretation is when a statement is said in one language and then the sender pauses to allow the interpreter to state the message in the other language.
				p Some occasions for which we offer interpretation include:
				ul
					li Conferences or group Meetings
					li Forums and Panel discussions
					li Individual meetings or interviews
					li Telephone or Video Conferences
			.col-md-4
				h3 Transcription 
				p We quote translations per source page depending on audibility and language.

section#contact
	.container
		.row
			.col-md-12
				h1 Contact Us 
		.row
			.col-md-6
				p If you have questions about whether we offer the service you are looking for, or would like a free quote, please don’t hesitate to contact us:
				a(href="tel:6024239066" target="_blank") 602.423.9066
				a(href="mailto:PurpleRoseServices@gmail.com" target="_blank") PurpleRoseServices@gmail.com
				a(href="http://facebook.com/purpleroseservices" target="_blank") facebook.com/purpleroseservices
			
			.col-md-6
				form(action='//formspree.io/PurpleRoseServices@gmail.com', method='POST')
					.form-group
						input(type='text', name='name', class="form-control", placeholder="Your Name")
					.form-group
						input(type='email', name='_replyto', class="form-control", placeholder="Your Email")
					.form-group
						textarea(type='text', name='message', class="form-control", placeholder="Your Message")
					.form-group
						input(type='submit', value='Send', class="form-control btn btn-primary")
