nav#site-nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
	div.container
		div.navbar-header
			button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar-collapse")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand.nav-link(href="#header")
				.purple-rose
				|  Purple Rose Translations
				//- img(src="/img/logo.png", alt="Purple Rose Translations")
		div.collapse.navbar-collapse(id="navbar-collapse")
			ul.nav.navbar-nav.navbar-right
				li
					a.nav-link(href="#testimonials") Testimonials
				li
					a.nav-link(href="#about") About
				li
					a.nav-link(href="#services") Services
				li
					a.nav-link(href="#contact") Contact


header#header
	.header-bg
	.header-container
		.header-content.wow.fadeIn

			.container.interactive
				.row
					.col-md-12
						h1 The difference between
				.row
					.col-md-5
						h3 "Feliz Ano Nuevo!"
					.col-md-2
						h6 &amp;
					.col-md-5
						h3 "&iexcl;Feliz a&ntilde;o nuevo!"


section#quote
	.container
		.row
			.col-md-12
				h1 Supporting communication between two worlds

section#testimonials
	.container
		.row
			.col-md-12
				h1 Testimonials

		.row
			.col-md-12
				#testimonial-carousel.owl-carousel.owl-theme
					.quote-item
						p “I met Ileana at a community meeting where I was one of the few non-Spanish speakers; her expert simultaneous interpretation conveyed the information and captured the energy of the gathering. Since then I’ve asked Ileana to do interpretation for several interviews with Spanish language speakers. Each time she has been prompt and professional, and has offered interpretation in seamless, idiomatic English. And her kind and gracious manner puts everyone at ease. I feel lucky to have had the opportunity to work with her!”
						p.author - Kathryn Abrams, Herma Hill Kay Distinguished Professor of Law, UC-Berkeley School of Law
					.quote-item
						p “We were having a staff meeting with guest speakers who preferred to present in Spanish. At first we considered having one of our own staff members interpret simultaneously, but that was not ideal because we wanted all of the staff to be able to take part in the meeting. We contacted Ileana and she quickly responded that she would be available. She was very easy to work with, was responsive to our inquiry, and charges a reasonable fee. It was a perfect solution. We will definitely reach out to her again.”
						p.author - Steve Kilar, Communications Director, American Civil Liberties Union of Arizona
					.quote-item
						p “We needed interpretation for an event and document translation for an art exhibition with a quick turn-around. The work was very professional, accurate and fast.”
						p.author - Julio Morales, Curator, ASU Art Museum
					.quote-item
						p "At YCM we take great pride in working with and for people we know on a personal level. Ileana (Purple Rose Services) is one of those people who we work with at YCM. Whether it is client work or internal, we have complete trust in her to be on time and accurate with the work she does for us." 
						p.author - Carla Chavarria, Founder, YCM Marketing


section#about
	.container
		.row
			.col-md-6
				h1 About
				p At Purple Rose Services we offer accurate and culturally relevant translations and interpretation services. We make sure we transmit your message into the requested language, English or Spanish, while maintaining context, voice, and style. We follow ethical codes that protect the confidentiality of you and your clients or members’ information.
				p Whether you want to make sure your organization’s promotional or internal materials are accessible to everyone you serve, or you want to reach a new audience, we are here to help. 
				p Contact us for a free quote of any of the services below!
			.col-md-6
				img.img-responsive(src="img/ileana-salinas.jpg")

section#services
	.container
		.row
			.col-md-12
				h1 Services
		.row
			.col-md-4
				a.service-link(id="service1-link", href="#service1")
					.sl-bg
						img.img-responsive(src="img/translate.jpg", alt="")
					.sl-content
						h3 Translations
						p
							img(src="img/purple-rose.svg")
			.col-md-4
				a.service-link(id="service2-link", href="#service2")
					.sl-bg
						img.img-responsive(src="img/interpretation.jpg", alt="")
					.sl-content
						h3 Interpretation
						p
							img(src="img/purple-rose.svg")
			.col-md-4
				a.service-link(id="service3-link", href="#service3")
					.sl-bg
						img.img-responsive(src="img/transcription.jpg", alt="")
					.sl-content
						h3 Transcription
						p
							img(src="img/purple-rose.svg")



div(style="display:none;")
	#service1.modal-content
		.wrapper
			.container
				.row
					.col-md-12
						h2 Translations
						hr
						p We quote document translations per source word.  The exact price per source word depends on the type of document, the length of the document, and the turn-around time.
						p Some examples of documents we translate include:
						ul
							li Advertising and Promotional materials
							li Press Releases and Media Advisories
							li Interview Transcripts and Releases
							li Legal forms and contracts
							li Personal or Formal correspondence

	#service2.modal-content
		.wrapper
			.container
				.row
					.col-md-12
						h2 Interpretation
						hr
						p Simultaneous or Consecutive Interpretation is quoted per hour.
						p Simultaneous interpretation is when the message is interpreted at the same time as it is stated by the sender with the aid of interpretation equipment or close to the receiver.
						p Consecutive interpretation is when a statement is said in one language and then the sender pauses to allow the interpreter to state the message in the other language.
						p Some occasions for which we offer interpretation include:
						ul
							li Conferences or group Meetings
							li Forums and Panel discussions
							li Individual meetings or interviews
							li Telephone or Video Conferences

	#service3.modal-content
		.wrapper
			.container
				.row
					.col-md-12
						h2 Transcription 
						hr
						p We quote translations per source page depending on audibility and language.



section#contact
	.container
		.row
			.col-md-12
				h1 Contact Us 
		.row
			.col-md-6
				p If you have questions about whether we offer the service you are looking for, or would like a free quote, please don’t hesitate to contact us:
				p
					a(href="tel:6024239066" target="_blank") 602.423.9066
				p
					a(href="mailto:ileana@purplerosetranslations.com" target="_blank") ileana@purplerosetranslations.com
				p
					a(href="http://facebook.com/purpleroseservices" target="_blank") facebook.com/purpleroseservices

			.col-md-6
				form(action='//formspree.io/ileana@purplerosetranslations.com', method='POST')
					.form-group
						input(type='text', name='name', class="form-control", placeholder="Your Name")
					.form-group
						input(type='email', name='_replyto', class="form-control", placeholder="Your Email")
					.form-group
						textarea(type='text', name='message', class="form-control", placeholder="Your Message")
					.form-group
						input(type='submit', value='Send', class="form-control btn btn-primary")

footer
	.container
		.row
			.col-md-12
				p 
					| Made with &hearts; by 
					a(href="") PochoLabs
					|.
