nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
	div.container
		div.navbar-header
			button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand.nav-link(href="#")
				img(src="/img/logo.png", alt="Purple Rose Translations")
		div.collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
			ul.nav.navbar-nav.navbar-right
				//- li
				//- 	a.nav-link(href="#about") About
				li
					a.nav-link(href="#testimonials") Testimonials
				li
					a.nav-link(href="#about") About Us
				li
					a.nav-link(href="#quotes") Quotes
				li
					a.nav-link(href="#contact") Contact





footer
	.container-fluid
		.col-lg-12
			h5.text-center Copyright &copy; 2016. A project of PochoLabs.
