nav#site-nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
	div.container
		div.navbar-header
			button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand.nav-link(href="#")
				span(class="glyphicon glyphicon-globe")
				|  Purple Rose Translations
				//- img(src="/img/logo.png", alt="Purple Rose Translations")
		div.collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
			ul.nav.navbar-nav.navbar-right
				li
					a.nav-link(href="#testimonials") Testimonials
				li
					a.nav-link(href="#about") About Us
				li
					a.nav-link(href="#quotes") Quotes
				li
					a.nav-link(href="#contact") Contact


header
	.header-container
		.header-content
			h1 The difference between:
			.container
				.row
					.col-md-5
						h3 Some Wrong text here
					.col-md-2
						h6 and
					.col-md-5
						h3 Some better text here
			h1 Supporting communication between two worlds

